.filter-button {
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    border: 0px;
    margin: 0.3rem 0.4rem;
    min-width: 50px;
    line-height: normal;
    cursor: pointer;
    transition: all 0.1s;
    background: transparent;
    outline: none;
  }

  .filter-categories-header {
    text-align: center;
    margin-bottom: 0rem;
  }

  .filter-button-active {
    padding: 0.5rem 1rem;
    margin-bottom: 0.25rem;
    border-radius: 3rem;
    box-shadow: 2px 1px 12px 0px rgba(0,0,0,0.15);
    border: 1px;
    margin: 0.3rem 0.4rem;
    min-width: 50px;
    line-height: normal;
    cursor: pointer;
    transition: all 0.1s;
    background: #24ccff57;
    outline: none;
  }
  
  .filter-button:hover {
    background: rgba(0, 128, 128, 0.15);
    color: var(--white);
  }

  
.filters {
    text-align: center;
    margin-bottom: 2rem;
  }