.user-display-container {
    padding: 4%;
    margin: 0 10%;
    overflow: auto;
    border-bottom: 1px solid black;
}

.user-info-container {
    display:block;
    float:left;
    padding: 0% 5%;
}

.username-header {
    font-size: 2.5rem;
    color: rgb(45, 89, 170);
}

.user-info-text {
    font-size: 1.5rem;
}

.user-posts-container {
    margin-right: 0 auto;
    padding: 5% 15%;
}

.user-posts-title {
    color: rgb(45, 89, 170);
}