.post-image-container {
    width: 100%;
    overflow:hidden;
}

.post-image {
    width: 50%;
}

.post-info {
    padding-bottom: 1vh;
}

.post-user {
    color: rgb(143, 143, 255) !important;
}

.post-header {
    
}

.post-content {
    overflow-wrap: break-word;
}

.like-icon {
    padding-bottom: 7.5% !important;
    padding-left: 1%;
}

.buttons-container {
    padding: 2% 0
}