.posts-container {
    background: rgba(255, 255, 255, 0.781);
    padding: 3% 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);

}


.posts-header {
    text-align: center;
    padding-bottom: 1rem;
}
/* FILTERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.select-wrapper {
    width: 100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.253);
    padding-top: 0.5rem;
    margin-bottom: 1rem;
}

.filters {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .filter-button {
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    border: 0px;
    margin: 0.3rem 0.4rem;
    min-width: 50px;
    line-height: normal;
    cursor: pointer;
    transition: all 0.1s;
    background: transparent;
  }

  .filter-categories-header {
    text-align: center;
    margin-bottom: 0rem;
  }

  .filter-button-active {
    padding: 0.5rem 1.5rem;
    margin-bottom: 0.25rem;
    border-radius: 3rem;
    border: 0px;
    margin: 0.3rem 0.4rem;
    min-width: 50px;
    line-height: normal;
    cursor: pointer;
    transition: all 0.1s;
    background: rgba(0, 128, 128, 0.397);
  }
  
  .filter-button:hover {
    background: rgba(0, 128, 128, 0.15);
    color: var(--white);
  }
  .filters label:focus {
    background: rgb(119, 255, 119);
    color: var(--white);
  }

  .active {
      background: rgb(119, 255, 119);
  }