.hero-container {
    background: rgba(0, 0, 0, 0.781) !important;
    text-align: center;
    padding: 5%;
    margin-top: -2%;
}

.segment-container {
    background: rgba(255, 255, 255, 0.65) !important;
    padding: 8em 0em !important;
}