.hero-container {
    background: url('../../media/posts-header.jpg');
    text-align: center;
    padding: 5%;
 
}

.segment-container {
    background: rgba(255, 255, 255, 0.856) !important;
    padding: 8em 0em !important;
}