.posts-container {
    background: rgba(255, 255, 255, 0.781);

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);

}

.posts-header {
    text-align: center;
    padding-bottom: 1rem;
}



.active {
    background: rgb(119, 255, 119);
}

.posts-header-img {
    width: 33.3%;
    box-shadow: 0 1px 5px 0px rgba(0,0,0,0.75);
}

.post {
    width: 20px !important;
}

.img-container {
    width: 50% !important;
}

.section-container {
    padding:  3% 7% !important;
    background: rgba(255, 255, 255, 0);
    border-right: 1px solid rgba(0, 0, 0, 0.116);
}

.sidebar-container {
    background: rgba(255, 255, 255, 0);
    border-left: 2px;
    padding-top: 2%;
}

.posts-hero-container {
    background: url('../../media/test4.jpg')center/cover no-repeat;
    box-shadow: 0px 2px 3px 0px rgb(0, 0, 0);
    min-height: 30vh;
    padding: 5%;
}

.main-container {
    padding: 0 9%;   
}