
.post-container {
    background: rgb(255, 255, 255);
    margin-bottom: 4rem;
    padding: 5%;
}
  
.post-inner-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.comment-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-top: 5%;
}

.post-content {
    padding-top: 1%;
    border-top: 1px;
}
