@media (min-width : 800px) {
    .menu-item {
        color: rgb(0, 0, 0) !important;
        margin: 0 0.5vmin !important;
        font-size: 1.3rem;
    }

    .ui.simple.dropdown.item {
        color: white !important;
        margin: 0 0.5vmin !important;
        font-size: 1.3rem;
    }
}
@media (max-width : 800px) {
    .menu-item {
        color: white !important;
        margin: 0 0.1vmin !important;
        font-size: 1rem;
    }
    .ui.simple.dropdown.item {
        color: white !important;
        margin: 0 0.1vmin !important;
        font-size: 1rem;
    }
}

.ui.menu {
    margin: 0;
}

.ui.menu .dropdown.item .menu {
    margin-top: -1px !important;
}

.menu-container {
    background: rgb(255, 255, 255) !important;
   
}
